.slab .slab-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.slab-back, .slab-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    background-size: contain;
    border-radius: 15%;
    image-rendering: -webkit-optimize-contrast;
    
}

.slab-front {
    transform: rotateY(180deg);
}

.slab-flipped {
    transform: rotateY(180deg);
}